.input-danger {
    border: 3px solid red !important;
    color: red !important;
    border-radius: 3px !important;
}
.input-info-danger {
    color: red;
    font-size: 12px;
}
.list-wrapper {
    margin: 0 50px;
}
input {
    margin-right: 50px;
}
button {
    margin-top: 50px;
}
.form-group {
    margin-bottom: 1rem;
}
.submit {
    padding: 0.5rem 6rem !important;
}
.todolist-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20rem;
}
.trash-icon {
    border-radius: 100%;
    width: 40px;
}
